**Strings:**

Strings in python are surrounded by either single quotation marks, or double quotation marks.

`'hello'` is the same as `"hello"`.

In [1]:
a = "Hello"
print(a)

Hello

___
**Multiline Strings:**

We can assign a multiple string to a variable by using three single or double quotes:

In [2]:
a = """This is first line in the multiline string
This is Second line.
And last but not the least this is the third line"""
print(a)

This is first line in the multiline string
This is Second line.
And last but not the least this is the third line

We can achieve similar using escape character **`\n`**

In [3]:
a = "This is first line in the multiline string\nThis is Second line.\nAnd last but not the least this is the third line"
print(a)

This is first line in the multiline string
This is Second line.
And last but not the least this is the third line

___

**Escape Charcters:**

Escape charcters are used to insert characters that are illegal in a string. An escape character is a **`backslash \`** followed by the character you want to insert. An example of an illegal character is a double quote inside a string that is surrounded by double quotes or newline charcter `\n`

In [4]:
a = "We are the so-called \"Vikings\" from the north."
print(a)

We are the so-called "Vikings" from the north.

**Below are some escape character used in Python:**

`\'` - apostrophe

In [5]:
Name = 'Rick o\'connel.'
print(Name)

Rick o'connel.

`\\` - Backslash

In [6]:
a = "This will insert one \\ (backslash)."
print(a)

This will insert one \ (backslash).

`\n` - new line

In [7]:
a = "This is first line in the multiline string\nThis is Second line.\nAnd last but not the least this is the third line"
print(a)

This is first line in the multiline string
This is Second line.
And last but not the least this is the third line

`\r` - Carriage Return

In [8]:
a = "Hello \rWorld!"
print(a)

World!

`\b` - Backspace

In [9]:
#This will erases one character (backspace):
a = "Hello \bWorld!"
print(a)

Hello World!

`\t` - Tab

In [10]:
a = "Hello\tWorld!"
print(a)

Hello	World!

`\ooo` - Octal value

In [11]:
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

`\xhh` - Hex Value

In [12]:
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

___

**Basic Functions and methods**

In [13]:
len("hello world") #gives length of the string

11

In [14]:
' I am alone '.strip() #Strips all whitespace characters from both ends.

'I am alone'

In [15]:
'On an island'.strip('d') #Strips all passed characters from both ends.

'On an islan'

In [16]:
'but life is good!'.split() #splits the string using seprator (default is whitespace) and return the list of string

['but', 'life', 'is', 'good!']

In [17]:
"_".join(['but', 'life', 'is', 'good!']) #Joins the given list into single string

'but_life_is_good!'

In [18]:
'Help me'.replace('me', 'you') #Replaces first with second param

'Help you'

In [19]:
'Need to make fire'.startswith('Need')

True

In [20]:
'and cook rice'.endswith('rice')

True

In [21]:
'bye bye'.index('e') #returns the first index of the matched

2

In [22]:
'still there?'.upper() #To upper case

'STILL THERE?'

In [23]:
'HELLO?!'.lower() #to Lower case

'hello?!'

In [24]:
'ok, I am done.'.capitalize() #Upper case the first character and the lower case all remaining

'Ok, i am done.'

In [25]:
'ok, I am done.'.title() #Upper case firt charcter of each word

'Ok, I Am Done.'

In [26]:
'UPPER oR lower'.swapcase() #converts upper case to lower and lower case to upper

'upper Or LOWER'

In [27]:
'oh hi there'.find('i') #returns the starting index position of the first occurrence

4

In [28]:
'oh hi there'.count('e') #returns the count of matched

2

---
References:
1. [w3schools](https://www.w3schools.com/python/python_strings.asp#:~:text=Strings%20are%20Arrays,access%20elements%20of%20the%20string)
2. [Zero to Mastery](https://zerotomastery.io/cheatsheets/python-cheat-sheet/)